:root {
    --ps-color-primary: #000;
    --ps-color-secondary: #4AF626;
    --ps-color-white: #fff;
    --ps-color-black: #000;
    --ps-color-monster-stats: #c70d0d;
    --ps-color-grey: #C2C2C2;
    --ps-color-hp-gr-1: #f53527;
    --ps-color-hp-gr-2: #510500;
    --ps-color-mp-gr-1: #4bc6ec;
    --ps-color-mp-gr-2: #0069ec;
    --ps-padding-standard: 10px;
    --ps-margin-standard: 10px;
    --ps-game-border: 6px ridge var(--ps-color-black); 
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--ps-color-black);
    font-family: monospace;
    color: var(--ps-color-secondary);
    letter-spacing: 1.6px;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
}

h1, main > p:first-of-type {
    text-align: center;
    color: var(--ps-color-secondary);
}

#game-window {
    max-width: 700px;
    max-height: 600px;
}

#game-ui-header {
    border: var(--ps-game-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}

/* Player upfront data and map location */
#player-data-upfront-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#player-data-upfront-char-img {
    border-right: var(--ps-game-border);
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ps-color-primary);
}

#player-data-upfront {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    border-right: var(--ps-game-border);
    height: 100%;
}

#player-data-upfront-name {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: var(--ps-game-border);
    margin-bottom: 3px;
    text-align: center;
}

#player-data-upfront-lvl-xp {
    margin: 0 var(--ps-margin-standard);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#game-location-cont {
    height: 100%;
    width: 115px;
    border-left: var(--ps-game-border);
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

#game-map-location {
    text-align: center;
}

/* Game content */
#game-content-components {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#player-data-panel, #player-inventory {
    width: 350px;
    max-width: 350px;
    height: 100%;
    display: none;
    background-color: var(--ps-color-primary);
    color: var(--ps-color-secondary);
    font-size: 0.65rem;
    text-align: center;
}

#player-inventory {
    border-right: var(--ps-game-border);
    border-bottom: var(--ps-game-border); 
}

#player-inventory-content-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#player-equipped-gear-cont, #player-inventory-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-left: 20px;
} 

#player-inventory-title, #player-equipped-gear-title {
    border-bottom: 1px solid var(--ps-color-secondary);
    padding-bottom: 3px;
}

#game-ui-content {
    border-left: var(--ps-game-border);
    border-right: var(--ps-game-border);
    border-bottom: var(--ps-game-border);
    padding: 16px;
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    background-color: var(--ps-color-primary);
    scrollbar-color: var(--ps-color-hp-gr-2);
    /* overflow: scroll; */
}

/* Monster stats */
#game-ui-monster-stats {
    background-color: var(--ps-color-primary);
    color: var(--ps-color-secondary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    border-left: var(--ps-game-border);
    border-right: var(--ps-game-border);
    border-bottom: var(--ps-game-border);
}

/* Player controls */
#game-ui-controls {
    display: flex;
    flex-direction: column;
}

#game-controls-dynamic-nav-cont {
    height: 70px;
    background-color: var(--ps-color-primary);
    border-left: var(--ps-game-border);
    border-right: var(--ps-game-border);
}

#game-controls-mixed-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
    background-color: var(--ps-color-primary);
    border-left: var(--ps-game-border);
    border-right: var(--ps-game-border);
    border-bottom: var(--ps-game-border);
}

#hp-cont, #mp-cont {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#hp-meter, #mp-meter {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100%;
    color: var(--ps-color-white);
    letter-spacing: 2px;
}

#hp-cont {
    border-top: var(--ps-game-border); 
    border-right: var(--ps-game-border); 
}

#mp-cont {
    border-top: var(--ps-game-border); 
    border-left: var(--ps-game-border);
}

#hp-meter {
    background-color: var(--ps-color-secondary);
}

#mp-meter {
    /* Left here. Learn how to do this properly from chatGPT response */
    background-image: repeating-linear-gradient(
        to top,
        var(--ps-color-primary),
        var(--ps-color-primary) 6px,
        var(--ps-color-secondary) 6px,
        var(--ps-color-secondary) 8px
    );
}
 
#consumable-skill-goptions-cont {
   width: 25vw;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#consumable-slots-cont, #game-options-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1px;
    margin-right: 1px;
}

#consumable-slot-1, #consumable-slot-2 {
    position: relative;
    width: 40px;
    height: 40px;
}

.slots-amount {
    position: absolute;
    top: 10px;
    right: 3px;
    color: var(--ps-color-secondary);
    font-weight: 700;
}

.slots-key {
    position: absolute;
    top: 10px;
    left: 4px;
    color: var(--ps-color-secondary);
    font-weight: 500;
}

#skill-slot {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
}

#skill-img {
    width: 100%;
    height: 100%;
}

#char-stats-cont, #inventory-cont {
    width: 40px;
    height: 40px;
    margin-left: 1px;
}

#game-controls-dynamic-nav-cont {
    /* Make this height a bit bigger */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    gap: 20px;
    max-width: inherit;
    padding: 0 10px;
}

#game-controls-dynamic-nav-cont > button {
    background-color: var(--ps-color-primary);
    color: var(--ps-color-secondary);
    padding: 6px 8px;
    letter-spacing: 0.8px;
    font-family: monospace;
}

#char-stats-cont, #inventory-cont {
    cursor: pointer;
}